@font-face {
    font-family: MeowRegular;
    src: url(../fonts/MeowRegular.ttf);
}
*{
    margin: 0;padding: 0;box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root{
    --index: calc(1vh + 1vw);
}
// Slider pagination settings
:root {
        --swiper-pagination-bottom: auto;
}

// ---------------- Header
header{
    padding: 0 calc(var(--index) * 2);
    background-image: url(../images/header.jpg);
    background-size: cover;
    height: 75vh;
}
.header__navigation{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: calc((var(--index) * 1)) 0;
    color: white;
}
.navigation__element{
    text-transform: uppercase;
}
.navigation__element--logo{
    text-transform: uppercase;
    margin-right: calc(var(--index) * 5);
    font-weight: 800;
    font-size: 1.4em;
}
.navigation__element--search{
    height: calc(var(--index) * 1);
    margin-left: calc(var(--index) * 5);
}
.header__title{
    padding: calc(var(--index) * 7) calc(var(--index) * 7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}
.header__welcome{
    font-size: calc(var(--index) * 1.2);
}
.header__about{
    font-size: calc(var(--index) * 1.4);
    font-weight: 700;
}
.header__button{
    width: calc(var(--index) * 7);
    height: calc(var(--index) * 1.4);
    border-radius: 10vh;
    border: 0px;
    font-weight: 700;
    margin-top: calc(var(--index) * 0.8);
    transition: 1s;
}
.header__button:hover{
    border: rgb(226, 217, 200) 2px solid;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    transition: 0.5;
}

// ---------------- main

.main__category{
    height: 25vh;   
    background-color: rgb(226, 217, 200);
    display: flex;
    justify-content: space-evenly;
    padding: 0 calc(var(--index) * 10);
}
.category__card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(var(--index) * 0.7);
    font-weight: 600;
}
.category__image{
    width: calc(var(--index) * 3);
    margin-bottom: calc(var(--index) * 0.4);
}
.main__special{
    padding: 0 calc(var(--index) * 7);
}
.special__title{
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: calc(var(--index) * 1.2);
    padding: calc(var(--index) * 1.4);
}

// ---------------- product card

.product_card{
    height: calc(var(--index) * 21);
    width: calc(var(--index) * 13);
    display: grid;
    grid-template-columns: 2fr 5fr 1fr;
    grid-template-rows: 1fr 6fr 0.6fr 1fr;
    background-color: rgb(240, 235, 232);
    padding: calc(var(--index) * 0.5);
    border-radius: 1vh;
}
.favorite{
    display: grid;
    place-items: center;
    grid-column: 3/4;
    grid-row: 1/2;
    order: 1;
}
.heart{
    clip-path: path("M12 21.593c-5.63-5.539-11-10.297-11-14.402 0-3.791 3.068-5.191 5.281-5.191 1.312 0 4.151.501 5.719 4.457 1.59-3.968 4.464-4.447 5.726-4.447 2.54 0 5.274 1.621 5.274 5.181 0 4.069-5.136 8.625-11 14.402m5.726-20.583c-2.203 0-4.446 1.042-5.726 3.238-1.285-2.206-3.522-3.248-5.719-3.248-3.183 0-6.281 2.187-6.281 6.191 0 4.661 5.571 9.429 12 15.809 6.43-6.38 12-11.148 12-15.809 0-4.011-3.095-6.181-6.274-6.181");
    height: calc(var(--index) * 0.9);
    width: calc(var(--index) * 0.9);
    background-color: #fff;
}
.heart:hover{
    clip-path: path("M12 4.248c-3.148-5.402-12-3.825-12 2.944 0 4.661 5.571 9.427 12 15.808 6.43-6.381 12-11.147 12-15.808 0-6.792-8.875-8.306-12-2.944z");
}
.card__image{
    grid-row: 1/3;
    grid-column: 1/4;
    height: 100%;
    width: 100%;
    border-radius: 1vh;
}
.card__title{
    grid-row: 3/4;
    grid-column: 1/4;
    font-weight: 600;
    display: flex;
    align-items: center;
}
.card__about{
    grid-row: 4/5;
    grid-column: 1/4;
}
.card__price{
    grid-row: 5/6;
    grid-column: 1/4;
    display: flex;
    justify-content: space-between;
}
.card__price>p{
    font-weight: 800;
    display: flex;
    align-items: center;
}
.card__price>button{
    width: 40%;
    padding: 4%; 
    background-color: rgb(44, 36, 25);
    color: white;
    border-radius: calc(var(--index) * 0.3);
    border: 0;
    transition: 0.5s;
}
.card__price>button:hover{
    background-color: rgba(230, 154, 4, 0.801);
    color: black;
    transition: 0.5s;
}

// ---------------- Slider 
.slider-button-prev , .slider-button-next{
    border: solid rgb(44, 36, 25);
    position: relative;
    border-width: 0 10px 10px 0;
    display: inline-block;
    padding: 20px;
    transition: .5s;
}
.slider-button-prev{
    transform: rotate(135deg);
    top: calc(var(--index) * -12);
    left: calc(var(--index) * -27);
}
.slider-button-prev:hover ,.slider-button-next:hover{
    border-color: rgba(230, 154, 4, 0.801);
    transition: .3s;
}
.slider-button-next{
    transform: rotate(-45deg);
    top: calc(var(--index) * -12);
    left: calc(var(--index) * 27);
}
.slider-buttons{
    display: flex;
    justify-content: center;
}

// ---------------- Coffee betans 

.main__best-coffee{
    margin-top: calc(var(--index) * 2);
    background-color: rgb(232, 224, 213);
    padding: calc(var(--index) * 2) 0;
    display: flex;
    justify-content: space-between;
}
.best-coffee__leftimage{
    height: calc(var(--index) * 13);
    transform: rotate(-90deg);
}
.best-coffee__content{
    font-size: calc(var(--index) * 2);
    font-weight: 650;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.best-coffee__button{
    grid-column: 2/3;
    grid-row: 3/4;
    width: calc(var(--index) * 13);
    height: calc(var(--index) * 2);
    color: white;
    background-color: rgb(44, 36, 25);
    border-radius: calc(var(--index) * 2);
    font-size: calc(var(--index) * 0.7);
    transition: 0.5s;
    border: 0;
}
.best-coffee__button:hover{
    background-color: rgba(230, 154, 4, 0.801);
    color: black;
    transition: 0.5s;
    transform: scale(1.2);
}
.best-coffee__rightimage{
    height: calc(var(--index) * 13);
    grid-column: 3/4;
    grid-row: 1/5;
}

// ---------------- Reviews

.main__reviews{
    padding: calc(var(--index) * 1.2) calc(var(--index) * 3.2);
}
.reviews__calligraph{
    text-align: center;
    font-family: MeowRegular;
    font-size: calc(var(--index) * 1.8);
    font-weight: 500;
}
.reviews__title{
    text-align: center;
    font-size: calc(var(--index) * 1.5);
    text-transform: uppercase;
    font-weight: 500;
}
